header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #21222a;
  padding: 31px 26px;
}

.nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.nav-left h3 {
  font-weight: 700;
  font-size: 22.2535px;
  line-height: 27px;
  letter-spacing: -0.05em;
  color: #61dafb;
}

.nav-right {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #deebf8;
}

main {
  padding: 27px;
  color: #fff;
  background-image: url("./assets/reactjs-icon.png");
  background-repeat: no-repeat;
  background-position: right;
}

main h1 {
  font-weight: 700;
  font-size: 39.06px;
  line-height: 47px;
  letter-spacing: -0.05em;
}

main li {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: #61dafb;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  font-size: 1.2em;
}
